<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="SogouCopyUnlock"
        android:allowBackup="false"
        android:theme="@style/AppTheme"
        android:extractNativeLibs="false">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposeddescription"
            android:value="搜狗输入法解限工具：复制字数、工具栏数量、快捷短语字数、剪贴板历史等限制均可自定义开关" />

        <provider
            android:name=".ConfigProvider"
            android:authorities="com.ayou.sogoucopyunlock.provider"
            android:exported="true"
            android:readPermission=""
            android:writePermission="" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
